.tools-home-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 20px;
}

.section-header-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-header {
    font-size: xx-large;
    font-weight: 700;
}



@media only screen and (max-width: 600px) {
    .tools-home-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        gap: 40px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .tools-home-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        gap: 40px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .tools-home-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 40px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .tools-home-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 40px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .tools-home-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 40px;
    }
}