.summary-text-container {
    text-align: center;
}

.business-summary-container {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
    border-radius: 20px;
}

.summary-big-text {
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(52, 180, 231)
}

.summary-small-text {
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.last-text {
    color: rgb(52, 180, 231);
    font-weight: 700;
}

.query-long-text {
    color: rgb(52, 180, 231);
}

.summary-details-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.summary-query-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.summary-query-buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.icon {
    font-size: 70px;
    color: rgb(52, 180, 231)
}

.middle-text {
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.summary-query-container {
    padding-top: 25px;
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.1);
    padding: 20px;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .summary-details-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .summary-query-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
    }

    .summary-query-buttons-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .summary-details-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .summary-query-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
    }

    .summary-query-buttons-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .summary-details-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .summary-query-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
    }

    .summary-query-buttons-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .summary-details-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .summary-query-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }

    .summary-query-buttons-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .summary-details-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .summary-query-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }

    .summary-query-buttons-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
}